body {
  background-color: #fff9e7;
  width: 100%
}

/* content page */
#myName{
  display: flex;

}
.card {
  margin: 40px;
  display: grid;
  height: 85vmin;
  width: 86rem;
  background: #FFFFFF;
  align-content: center;
  justify-content: center;
}

div h3 {
  font-size: 25px;
  writing-mode: vertical-lr;
  letter-spacing: 2px;;
}

button{
  justify-content: center;
  width: 10vmin;
}
/* .about {
  /* display: grid;
  text-align: center;
  height: 80px;
  text-align: center; */
  /* writing-mode: vertical-rl; */

/* }  */

nav {
  display: flex;
  left: 8vmin;
  top: 45px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}

ul{
  justify-content: center;
  padding:0;
  text-align: center;
  top:10rem;
  text-decoration: none;
}


.profile-pic {
  position: absolute;
  right: -65vmin;
  width: 50vmin;
  background-color: rgb(255, 255, 255);
}

.contents{
  position: absolute;
  top: 35vmin;
  left: 20vmin;
  display: grid;
  align-items: center;
  justify-content: center;
}

.headline {
  position: absolute;
  top: 10rem;
  left: 252px;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
}

.para {
  position: absolute;
  top: 10rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 10px;
}


/* project page */
/* p1 */
.project-card{
  position: relative;
  width: 37rem;
  height: 40vmin;
  color: blue;
  border-radius: 20px;
  overflow: hidden;
  /* border: 2px solid red; */
}

.project-content {
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  padding: 20px;
  background-color: #fff9e7;
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform .25s;
}

.project-content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #fff;
}

h3.project-title {
  color: green;
  line-height: 15px;
  font-size: 20px;
}

.project-subtitle{
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
}

.project-description{
  font-size: 14;
  opacity: 0;
  transition: opacity.5s;
}

.project-card:hover .project-content{
  transform: translateY(0);
}

.project-card:hover .project-description{
  opacity: 1;
  transition-delay: .25s;
}

/* p2 */

.project1-card{
  position: relative;
  width: 37rem;
  height: 350px;
  color: blue;
  border-radius: 20px;
  overflow: hidden;
  /* border: 2px solid red; */
}

.project1-content {
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  padding: 20px;
  background-color: #fff9e7;
  border-top-left-radius: 20px;
  transform: translateY(145px);
  transition: transform .25s;
}

.project1-content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  /* box-shadow: inset 48px 48px #fff; */
}

.project1-title {
  color: green;
  line-height: 15px;
}

.project-subtitle{
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.project1-description{
  font-size: 14;
  opacity: 0;
  transition: opacity.5s;
}

.project1-card:hover .project1-content{
  transform: translateY(0);
}

.project-card:hover .project1-description{
  opacity: 1;
  transition-delay: .25s;
}

.infoblock {
  background: grey;
  opacity: .5;
  position: absolute;
  height: 5px;
  width: 200px;
  top: 5%;
  left: 65%;
}

.block {
  background: grey;
  opacity: .5;
  position: absolute;
  height: 5px;
  width: 200px;
  top: 5%;
  left: 65%;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

ul {
  list-style-type: none;
}


a {
  text-decoration: none;
  font-size: 20px;
}

.C4 {
display: flex;
}

.DLS{
  width: 100%;;
}

.DM {
  width:100%;
}

.N3 {
  width: 95%;
}

container{
  display: grid;
  grid-template-columns: 80vmin 80vmin;
  grid-template-rows: 50vmin 50vmin;
  justify-content: center;
  align-content: center;
}

footer {
  background-color: yellow;
  height: 150px;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  max-width: 800px;
  width: 50vmin;
  position: relative;
  margin: 10% auto;
  padding: 25px;
  border-radius: 3px;
  background: #fff;
  align-items: center;
  text-align: center;
}

.close {
  font-family: Arial, Helvetica, sans-serif;
  background: #f26d7d;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  padding-top: 5px;
}

.close:hover {
  background: #fa3f6f;
}
